---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Checkout and Payment for your Technical SEO Report | SEO20.dev" lang="en">
  <head slot="head">
    
  </head>
  <div class="bg-slate-50 min-h-screen flex flex-col justify-between">
    // ...contenido y script...
  </div>
</BaseLayout> 