---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Test" lang="es">
  <head slot="head">
    <meta name="description" content="Test head" />
  </head>
  <div>Contenido test</div>
</BaseLayout> 