---
export const prerender = true;
import BaseLayout from '../../layouts/BaseLayout.astro';
import PaymentConfirmation from '../../components/PaymentConfirmation.vue';
import t_es from '../../i18n/es.json';
const lang = 'es';
---

<BaseLayout title={t_es.confirmation.title} lang={lang}>
  <head slot="head">
    
  </head>
  <div class="bg-slate-50 min-h-screen" aria-live="polite">
    <PaymentConfirmation client:load />
  </div>
</BaseLayout> 